<h2 class="m-3" style="color: #1358ab">LISTAGEM DOS PACIENTES</h2>

<table class="table table-striped">
  <thead class="tr-dark">
    <tr>
      <th>Nome Completo</th>
      <th>Nº Carteirinha</th>
      <th>Telefone</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Exemplo</td>
      <td>Exemplo</td>
      <td>Exemplo</td>
      <td>
        <button type="button" class="btn btn-sm mr-1" style="background-color: #0a2262; color: white;">Editar</button>
        <button type="button" class="btn btn-sm ms-1" style="background-color: #0a2262; color: white;">Excluir</button>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
