<h2 class="m-3" style="color: #1358ab">CADASTRO DO PACIENTE</h2>
<form class="container pt-4">
  <div class="row">
    <div class="col-md-4">
      <label for="inputName" class="form-label">Nome Completo</label>
      <input type="text" class="form-control" id="inputName"  [(ngModel)]="beneficiario.nome" name="inputName">
    </div>

    <div class="col-md-4">
      <label for="inputCpf" class="form-label">CPF</label>
      <input mask="CPF_CNPJ" class="form-control" id="inputCpf"  [(ngModel)]="beneficiario.cpf" name="inputCpf">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail"  [(ngModel)]="beneficiario.email" name="inputEmail">
    </div>

    <div class="col-md-4">
      <label for="inputPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="inputPassword"  [(ngModel)]="beneficiario.senha" name="inputPassword">
    </div>
  </div>

    <div class="col-md-4">
      <label for="inputAddress" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="inputAddress"  [(ngModel)]="beneficiario.endereco" name="inputAddress">
    </div>


  <div class="row">
    <div class="col-md-3">
      <label for="inputPhone" class="form-label">Telefone</label>
      <input type="text" class="form-control" id="inputPhone"  [(ngModel)]="beneficiario.telefone" name="inputPhone">
    </div>

    <div class="col-md-3">
      <label for="input" class="form-label">Nº Carteirinha</label>
      <input type="text" class="form-control" id="inputCity"  [(ngModel)]="beneficiario.numeroCarteirinha" name="inputCity">
    </div>
  </div>

  <div class="col-12  mt-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Quero receber e-mails com novidades
      </label>
    </div>
  </div>

  <div>
    <button (click)="cadastrar()" class="btn" style="background-color: #1358ab; color: white;">Cadastrar</button>
  </div>
</form>

<footer class="bg-light text-center mt-4">
  <div class="container p-4" style="color: #1358ab;">
    <div class="d-flex justify-content-center">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Conheça a Saude Center</h5>
        <p>
          A Saude Center é uma rede consolidada de clínicas espalhadas por todo país. Atendemos todas as principais especialidades médicas para suprir todas as necessidades dos nossos pacientes. Contamos com os melhores profissionais, sempre pensando no seu bem estar!
        </p>
      </div>
      </div>
    </div>

  <div class="text-center p-3" style="background-color: #0a2262; color: white;">
    © 2022 Todos os direitos reservados
  </div>
</footer>
