<div *ngIf="telaParaApresentar == 'beneficiario'">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!--<a class="nav-link" href="#">Hospital<!--<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profissional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Especialidade</a>
      </li>-->
      <li class="nav-item">
        <a routerLink="/cadastro" class="nav-link" href="#">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Agendamento de consulta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Agendamento configuração</a>
      </li>
    </ul>
  </div>
</nav>
</div>
